@font-face {
  font-family: WorkSans-Bold;
  src: url(fonts/WorkSans-Bold.ttf);
}@font-face {
  font-family: WorkSans-Regular;
  src: url(fonts/WorkSans-Regular.ttf);
}@font-face {
  font-family: WorkSans-SemiBold;
  src: url(fonts/WorkSans-SemiBold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
}
#hero{
	height: 1000px;
	background-color: #0bc1f1;
	background-image: url(images/white-wave.png), url(images/phone.png),url(images/wave.jpg);
	background-repeat: no-repeat, no-repeat,no-repeat;
	background-position: center bottom, center bottom -90px,center bottom;

}
#hero header {
	padding-top: 48px;
	display: flex;
	justify-content: space-between;
	height: 40px;
	line-height: 40px;
}
#hero a img {
}

#hero ul li {
	padding: 0 30px;
	display: inline-block;
}
#hero ul li:last-child {
	padding-right: 0;
}
#hero ul li a {
	font-size: 15.89px;
	color: white;
	line-height: 24.17px;
	font-family: "WorkSans-SemiBold", sans-serif;
}
#hero h1 {
	width: 520px;
	font-size: 45px;
	line-height: 60px;
	font-family: "WorkSans-Bold",sans-serif;
	margin: 0 auto;
	color: white;
	margin-top: 133px;
	text-align: center;
}
#hero h2 {
	font-size: 15px;
	font-family: "WorkSans-Regular",sans-serif;
	color: white;
	margin-top: 14.5px;
	line-height: 27.24px;
	text-align: center;
}
#hero .actions {
	text-align: center;
    margin-top: 41px;
}
#hero .actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0px 35px;
	border-radius: 5px;
	font-family: "WorkSans-SemiBold",sans-serif;
	font-size: 14px;
	color: white;
	border: 1px solid white;
	margin-right: 26px;
}

#hero .actions a:hover {
	color: #233148;
	background-color: white;
}

/*	features */
#features {
	background-color: #fafafc;
	height: 1100px;
}

#features .container {
	display: flex;
	justify-content: space-between;
}
#features .container #phone-image > img {
	margin-top: 290px;
	margin-left: 110px;
}
#features .container #feature-list {
	position: relative;
}
#feature-list div {
	background-color: white;
	width: 271px;
	height: 322px;
	border-radius: 4px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	position: absolute;
	padding: 60px 30px 34px 30px;
}
#feature-list div:nth-child(1) {
	right: 365px;
	top: 115px;
}
#feature-list div:nth-child(2) {
	right: 39px;
	top: 213px;
}
#feature-list div:nth-child(3) {
	right: 438px;
	top: 508px;
}
#feature-list div:nth-child(4) {
	right: 87px;
	top: 632px;
}
#feature-list div img {
	margin: 0 auto;
	display: block;
}
#feature-list div h3 {
	color: #233148;
	font-family: "WorkSans-SemiBold", sans-serif;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	margin-top: 29px;
	margin-bottom: 16px;
}
#feature-list div p {
	color: #6a6d89;
	font-family: "WorkSans-Regular", sans-serif;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
}
/*	stable */
#stable {
	padding-top: 84px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 111px;
}
#stable > div {
	width: 470px;
}
#stable ul {
	width: 560px;
}
#stable > div > h2 {
	margin-top: 54px;
	font-size: 30px;
	line-height: 60px;
	font-family: "WorkSans-Bold", sans-serif;
	color: #233148;
	text-align: right;
}
#stable > div > p {
	margin-top: 31px;
	margin-bottom: 35px;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	font-family: "WorkSans-Regular", sans-serif;
}
#stable > div > div {
	text-align: right;
}
#stable > div > div > a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-left: 45px;
	padding-right: 45px;
	font-family: "WorkSans-SemiBold", sans-serif;
	font-size: 15px;
	color: white;
	background-color: #33d2fd;
	border-radius: 4px;
	text-transform: capitalize;
}
#stable ul li {
	background-color: white;
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 3px;
}
#stable ul li p {
	display: none;
	margin-top: -18px;
	padding: 0 82px 24px 82px;
	font-family: "WorkSans-Regular", sans-serif;
	font-size: 14px;
	line-height: 27px;
	text-align: justify;
	color: white;
}
#stable ul li a {
	height: 78px;
	line-height: 78px;
	font-size: 15px;
	font-family: "WorkSans-SemiBold", sans-serif;
	color: #233148;
	padding-left: 82px;
	padding-right: 25px;
    display: inline-block;
	background-repeat: no-repeat;
	width: 100%;
	background-position: 28px center;
}
#stable ul li:nth-child(1) a{
	background-image: url(images/heart.png);
	background-repeat: no-repeat;
}
#stable ul li:nth-child(2) a{
	background-image: url(images/tag.png);
	background-position-x: 35px;
	background-repeat: no-repeat;
}
#stable ul li:nth-child(3) a{
	background-image: url(images/bag.png);
	background-repeat: no-repeat;
}
#stable ul li:nth-child(4) a{
	background-image: url(images/pencil.png);
	background-repeat: no-repeat;
}
#stable ul li:hover {
	background-color: #33d2fd;
}
#stable ul li:hover p {
	display: block;
}
/* everything */
#everything {
	background: #fafafc;
	padding-bottom: 60px;
}
#everything .container {
	display: flex;
	justify-content: space-between;
}
.everything__image {
	padding-top: 60px;
	width: 550px;
}
.everything__content {
	width: 470px;
	padding-top: 80px;
}
.everything__content h2 {
	font-size: 30px;
	line-height: 60px;
	font-family: "WorkSans-Bold";
	color: #233148;
	text-transform: capitalize;
}
.everything__content ul {
	margin-top: 25px;
	margin-bottom: 36px;
}
.everything__content ul li {
	display: flex;
	align-items: center;
}
.everything__content ul li a{
	margin-left: 16px;
}
.everything__content ul li a {
	font-size: 15px;
	line-height: 27px;
	color: #233148;
	font-family: "WorkSans-SemiBold";
}
.everything__content p {
	font-family: "WorkSans-Regular";
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;

}
#available {
	background-color: #24caf2;
	background-image: url(./images/wave.jpg);
	padding-bottom: 93px;
    background-position: center;
    position: relative;
}
#available .container {
	display: flex;
	justify-content: space-between;
}

.available__content {
	width: 474px;
	margin-right: 96px;
	margin-top: 262px;
}
.available__phone {
	margin-left: 178px;
	margin-top: 109px;
}
.available__content h2 {
 	font-size: 30px;
	line-height: 60px;
	text-transform: capitalize;
	font-family: "WorkSans-Bold", sans-serif;
	color: #233148;
	margin-bottom: 20px;
}
.available__content p {
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans-Regular";
	margin-bottom: 32px;
}
.available__content ul li {
	display: inline-block;
	margin-right: 29px;
}
#available .getApp {
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    line-height: 60px;
    font-family: "WorkSans-Bold";
    text-transform: uppercase;
    background-image: linear-gradient(to top, #f6387d, #fe7570);
    color: white;
    padding: 9px 84px;
    box-shadow: 0px 11px 29px rgba(255, 7, 95, 0.2);
}
#links {
	display: flex;
	justify-content: space-between;
	padding-top: 139px;
	max-width: 719px;
}
#links div h3 {
	font-size: 15px;
	font-family: "WorkSans-SemiBold";
	color: #233148;
	line-height: 27px;
	padding-bottom: 25px;
}
#links div ul li { margin-bottom: 11.5px }
#links div ul li a{
	color: #6a6d89;
	font-family: "WorkSans-Regular";
	font-size: 14px;
	line-height: 27px;
}

#get-in-touch {
	margin-top: 78px;	
	text-align: center;
}
#get-in-touch h2 {
	font-family: "WorkSans-SemiBold";
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	padding-bottom: 5px;
}
#get-in-touch p {
	font-family: "WorkSans-Regular";
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}
#get-in-touch form {
	padding-top: 66px;
	padding-bottom: 86px;
}
#get-in-touch form input {
	height: 50px;
	width: 572px;
	outline: none;
	background-color: #f6f7fb;
	border: none;
	padding: 0px 20px;
	margin-right: 30px;
}
#get-in-touch form button {
	background-color: #33d2fd;
	color: #233148;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "WorkSans-SemiBold";
	line-height: 50px;
	border: none;
	height: 50px;
	padding: 0 31px;
}
footer {
 	height: 100px;
 	background-color: #233148;
}
footer .container {
	display: flex;
	justify-content: space-between;
}
footer .container p {
	color: white;
	font-family: "WorkSans-Regular";
	font-size: 14px;
	line-height: 100px;
}
footer .container ul li {
	display: inline-block;
	margin-top: 34px;
	margin-left: 50px;
}
/* responsive */
/* tren 1200px thi code o tren da giai quyet roi */
/* from 960 to 1200 */
@media screen and (max-width: 1200px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}	
	/** feature **/
	#features .container {
		display: flex;
	}
	#features #phone-image, #features #feature-list {
		width: 50%;
	}
	#features .container #feature-list {
		padding-top: 169px;
	}
	#feature-list > div {
		position: static;
		width: 100%;
		height: auto;
		padding: 30px 30px 20px 30px;
		margin-bottom: 20px;
	}
	#feature-list > div > img {
		float: left;
	}
	#feature-list > div > h3 {
		margin-top: 0;
		text-align: left;
		margin-left: 70px;
	}
	#feature-list > div > p {
		text-align: left;
		margin-left: 70px;
	}
	/** stable **/
	#stable {
		display: flex;
	}
	#stable > div {
		padding-right: 30px;
	}
	#stable > ul {
		padding-left: 30px;
	}
	#stable > div > p {
		margin-left: 10px;
	}
	/** everything **/
	#everything .everything__content {
		padding-left: 30px;
	}
	/** available **/
	#available .available__phone {
		padding-right: 30px;
	}
	#available .available__content {
		margin-right: 76px;
	}
	footer .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* from 768 to 960 */
@media screen and (max-width: 960px) {
	/** header **/
	#hero ul li a {
    	font-size: 20px;
	}
	#hero h1 {
	    margin-top: 100px;
	    font-size: 40px;
	}
	#hero h2 {
		font-size: 17px;
	}
	#hero .actions a {
		padding: 0 46px;
		height: 50px;
		line-height: 50px;
	    font-size: 20px;
	}
	#hero a img {
		width: 150px;
	}

	/** feature **/
	#feature-list > div {
		padding: 25px 20px 15px 20px;
	}
	#features .container #phone-image > img {
		margin-left: 60px;
	}
	#features .container #feature-list {
		padding-top: 200px;
	}
	#feature-list div h3 {
		margin-bottom: 0px;
	}
	#feature-list > div > img {
		width: 43px;
	}
	/** everything **/
	#everything .everything__image {
		padding-top: 115px;
	}
	#everything .everything__image > img{
		width: 360px;
	}
	#everything .everything__content {
		padding-left: 0;
	}
	.everything__content ul {
		margin: 15px 0 16px 0;
	}
	/** available **/
	#available .available__phone {
		margin-left: 100px;
		padding-right: 60px;
	}

	#available .available__content {
		margin-top: 200px;
	}
	.available__content ul li {
		display: block;
   		margin-bottom: 20px;
	}
	#available .getApp {
		padding: 5px 64px;
	}
	/** get in touch **/
	#get-in-touch {
		margin-top: 58px;
	}
	#get-in-touch form input {
		width: 530px;
		margin-right: 15px;
	}
	#get-in-touch form {
		padding: 46px 20px 66px 20px; 
	}
}

/* from 500 to 768 */
@media screen and (max-width: 768px) {
	#feature-list > div > img {
		width: 39px;
	}
}

@media screen and (max-width: 500px) {

}